/* This handles the items within this container. */
body{ 
    background-image:url("../Functions/Art/Chapter1/titlePage.png");	
    background-color: grey;
}
div.container2 {
    height: 10em;
    position: relative;
    display: none;
    margin: 10px;
}

div.container2 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/* This is the character class. */
.characters {
    width: 100px;
}

/* This defines the character images. */
.characters img {
    float: left;
    margin-left: +20;
    margin-top: +20;
    height: 300px;
	padding-right: 50px;
	padding-left: 50px;
}

/* This handles the first character button. */
div.buttonChar {
    display: inline-block;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
	padding-right: 50px;
	padding-left: 50px;
}
/*
div.buttonChar2 {
    display: inline-block;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
}

div.buttonChar3 {
    display: inline-block;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
}

div.buttonChar4 {
    display: inline-block;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
}
*/