/*Div for the main container of all main hub information*/


.imagesettings img{
	float: left;
    margin-left: +20;
    margin-top: +20;
    height: auto;
	width: 1000px;
	z-index:0;
	margin-left: auto;
}

div.container3 {
    display: none;
    font-family: 'euphoria-script';
    padding: 0;
    margin : 0;
    justify-content: center;
    align-items: center;
 }
 
 .button-grid {
	z-index:1;
	position:absolute;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
 
 }
 
 button.options {
     padding: 5px 10px;
 }
 
 button.options:hover {
    border-color: black; 
    box-shadow: 0 0 5px 2px;
 
 }
 
 /*End of main container*/
 