/* This is to define our background. */
body{
	background-color:black;
}
/* This handles the title of the page. */
div.title {

    height: 1em;
    position: relative; 
    margin-top: 30px;
    margin-bottom: 10px; 
}

p {	
	color: white;
    text-align: center;
    font-family: 'euphoria-script';
}

/*Div for the main container of all main hub information*/
div.container3 {
   /*display:none;*/
   font-family: 'euphoria-script';
   padding: 0;
   margin : 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-grid {
   display: grid;
   grid-template-columns: repeat(2,auto);
   gap: 10px;

}

button.options {
    padding: 5px 10px;
}

button.options:hover {
   border-color: black; 
   box-shadow: 0 0 5px 2px;

}

/*End of main container*/
