.shop-grid {
    z-index:1;
    position:absolute;
    display: grid;
    /*border: 3px solid white;*/
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    width: auto;
    height: auto;
    padding: 15px;
    position: absolute;
    left: 27%;
    top: 40%;

}

button.shopOptions{
    padding: 5px 15px;
    margin: 5px 3px;
    border-radius: 5px;
    color: white;
    background-color: #2f3352;
    font-family: Papyrus;
    border: none;
    font-size: 20px;
}

button.shopOptions:hover {
    /*border-color: black; 
    box-shadow: 0 0 5px 2px;
    /*border-radius: 5px;*/
    color: #2f3352;
    background-color: white;
    font: Papyrus;
}


.door-grid {
    z-index:1;
    position:absolute;
    display: grid;
    /*border: 3px solid white;*/
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    width: auto;
    height: auto;
    padding: 15px;
    position: absolute;
    left: 44.5%;
    top: 34%;

}

button.doorOptions{
    padding: 5px 15px;
    margin: 5px 3px;
    border-radius: 5px;
    color: white;
    background-color: #2f3352;
    font-family: Papyrus;
    border: none;
    font-size: 20px;
}

button.doorOptions:hover {
    /*border-color: black; 
    box-shadow: 0 0 5px 2px;
    /*border-radius: 5px;*/
    color: #2f3352;
    background-color: white;
    font: Papyrus;
}




div.container6{
    text-align: center;
    display: block;
    width: 100%;
    height: 98vh;
    display: none;
    background-image:url("../Functions/Art/Chapter1/OpenShop.png");
}

div.error {
    color: white;
    z-index:1;
    position:absolute;
    font-family: 'euphoria-script';
    padding: 5px 15px;
    margin: 5px 3px;
    font-size: 35px;
    left:44.5%;
    top: 25%;
}

div.counter {
    color: white;
    z-index:1;
    position:absolute;
    font-family: 'euphoria-script';
    padding: 5px 15px;
    margin: 5px 3px;
    font-size: 40px;
    left:43%;
    top: 20%;
}